@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #3E3E3E;
}

.home__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* Section One */

.home__main__card1 {
    background:  #FFFFFF;
    margin: 10px 0;
    padding: 50px 0 28px 54px;
    border-left: 10px solid #FFFFFF;
    display: grid;
    grid-template-columns: 80px 2fr;
}

/* .home__main__card1__upper{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 55px;
} */

/* .home__main__card1__img{
    margin-right: 20px;
    border-radius: 100px;
} */

.home__main__card1__text {
    font-size: 21px;
    line-height: 24px;
    color: #000000;
    opacity: 0.4;
    padding-top: 0.5em;
}

.home__main__card1__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 75px;
}

.home__main__card1__lower__img {
    margin-right: 20px;
}

.home__main__card1__btn {
    width: 141px;
    height: 50px;
    background: #F7931E;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    border-radius: 5px;
    margin-right: 30px;
} 

/* Section Two */
.home__main__card2 {
    background:  #FFFFFF;
    margin: 10px 0;
    padding: 50px 0 28px 54px;
    border-left: 0.4em solid #BC0272;
    border-bottom: 0.09em solid #BC0272;
    display: grid;
    grid-template-columns: 80px 2fr;
}

.home__main__card2__img {
    border-radius: 100px;
}

.home__main__card2__content{
    display: flex;
    flex-direction: column;
    padding-right: 57px;
}

.home__main__card2__upper{
    display: flex;
    align-items: center;
    text-align: center;
}

.home__main__card2__text{
    font-size: 24px;
    line-height: 28px;
    color: #3E3E3E;
    margin-right: 10px;
    padding-top: 15px;
}

.home__main__card2__icon-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 22px;
}

.home__main__card2__icon__text {
    padding-top: 15px;
    margin-left: 10px;
}

.home__main__card2__header{
    font-weight: bold;
    opacity: 0.9;
}

.home__main__card2__body {
    text-align: left;
    opacity: 0.8;
}

.home__main__card2__body-image1{
        margin-right: 20px;
    }

.home__main__card2__body-image__container{
    display: flex;
    justify-content: space-between;
}


.home__main__card2__lower {
    display: flex;
    margin-top: 23px;
}

.home__main__card2__lower__group1 {
    margin-right: 42px;
}

.home__main__card2__lower__group1__icon1 {
    margin-right: 9px;
}

.home__main__card2__lower__group3{
    margin-left: auto;
}

.home__main__card2__lower__group3__container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section Three */
.home__main__card3 {
    background:  #FFFFFF;
    margin: 10px 0;
    padding: 50px 0 28px 54px;
    border-left: 0.4em solid #279FC9;
    border-bottom: 0.09em solid #279FC9;
    display: grid;
    grid-template-columns: 80px 2fr;
}

/* Section Four */
.home__main__card4 {
    background:  #FFFFFF;
    margin: 10px 0;
    padding: 50px 0 28px 54px;
    border-left: 0.4em solid #C1A763;
    border-bottom: 0.09em solid #C1A763;
    display: grid;
    grid-template-columns: 80px 2fr;
}

@media (max-width: 700px){
    body {
        font-family: Ubuntu;
        font-style: normal;
        font-size: 1em;
        line-height: 15px;
        color: #3E3E3E;
    }

    .home__container, 
    .home__main__card1,
    .home__main__card2,
    .home__main__card3,
    .home__main__card4 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .home__main__card1__text{
        font-size: 1em;
    }

    .home__main__card1__lower__img {
        margin-right: 0.6em;
    }

    .home__main__card1__btn{
        width: 5em;
        height: 2.6em;
        font-weight: 500;
        font-size: 1em;
        line-height: 20px;
        border-radius: 5px;
        }

    .home__main__card2__body-image__container{
        display: flex;
        flex-direction: column;
    }

    .home__main__card2__body{
        font-size: 1em;
    }

    .home__main__card2__body-image1,
    .home__main__card2__body-image2 {
        width: 100%;
        margin: 10px auto;
    }

    .home__side {
        display: none;
    }
}