#dropdown-components{
    background-color: transparent;
    color: rgba(178, 178, 178, 0.7);
    border: none;
    border: 1px solid #979797;
    border-radius: 5px; 
    width: 200px;
    height: 50px;
    padding: 1%;
    padding-left: 6%;
    text-align: left;
}

.dropdown .dropdown-toggle:after{
    margin-left: 5em;
}

@media screen and (max-width: 540px) {
    
    .dropdown, #dropdown-components{
        width: 170px; 
    }

    .dropdown{
        margin-right: 30px;
        padding-left: 0;
    }    
}

@media screen and (max-width: 400px) {
    
    .dropdown, #dropdown-components{
        width: 200px; 
        margin-top: 1rem;
    }
    
}