.main .artist {
    font-family:  Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2%;
}

.artist .page-description{
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0;
}

.page-description input{
    margin-right: 2rem;
}

.page-description p {
    height: 100%;
    margin-top: auto;
}

@media screen and (max-width: 900px) {
    .page-description input{
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .page-description input{
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .artist .page-description{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 2rem auto;
    }
    .page-description input{
        width: 60%;
        margin: 1.5rem auto;
    }
    .page-description p {
        text-align: center;
    }
}
