@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
.main .categoryMain {
    font-family:  Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2%;

    .title-container{
        position: relative;
        padding: 0 1rem;

        a .arrow-left{
            color: #000000;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .page-title{
            margin-left: 2rem;
        }
    }

    .form-control-feedback{
        right: 20px;
    }
    
    .search-section{
        display: flex;
        justify-content: flex-start;
        margin: 2rem 0;
        padding: 0 1rem;
    }
    
    .search-section .has-search{
        justify-content: center;
    }

    .alphabets h2{
        padding: 0 1rem;
        margin-top: 1.5rem;
    }
    
    .heading{
        display: flex;
        justify-content: space-between;
        margin: 1rem 1rem;
        border-bottom: 1px solid #979797;
        padding: 0.5rem 0;

        .fa-circle {
            font-size: 10px;
            margin-right: 1rem;
            vertical-align: middle;
        }

        .circle1{
            color: #bc0272;
        }

        .circle2{
            color: #3c045685;
        }

        .circle3{
            color: #06b406;
        }

        .circle4{
            color: #6372c1;
        }
    }
}



@media screen and (max-width: 900px) {
    .search-section .has-search{
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .categoryMain .search-section{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 2rem auto;
    }
    .search-section .has-search{
        margin: 1.5rem auto;
    }
}

@media screen and (max-width: 350px) {
    .search-section .has-search > div input{
        padding-right: 0;
    }
}