body{
    background: 
    white;
}
.explore-nav{
    padding-top: 30px;
}
.explore-nav-link{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #3E3E3E;    
    opacity: 0.6;
    text-decoration: none;
    padding: 10px 10px;

}
.explore-nav-link:hover{
    color: #F7931E !important;
    text-decoration: none;
}
.explore-nav-link:focus{
    color: #F7931E;
}

.explore-user-detail{
  padding-top: 20px;
}
.explore-user-detail img{
  height: 30px;
  width: 30px;
}
.explore-username{
  padding-left: 15px;
  padding-right: 30px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px; 
}
.follow{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
 background: none;
 outline: none;
 border: none;
  
}
.explore-body .card-body:hover{
  color: #ffffff;
}

.user-reaction div{
    padding-right: 20px;
}
/*@media screen and (max-width: 800px) {
    .explore-images-body {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }*/
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 /* @media screen and (max-width: 600px) {
    .explore-images-body {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }*/
  .explore-card-columns .card{
    margin-bottom: 0.79rem;
  }
  @media screen and (min-width: 992px){
    .explore-card-columns{
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .explore-card-columns .card{
      display: inline-block;
      width: 100%;
    }
  }
  @media screen and (max-width: 992px){
    .explore-card-columns{
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
  @media screen and (max-width: 600px){
    .explore-card-columns{
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }
  .explore-content:hover{
      color: white;
  }
.follow:hover{
      color: white;
  }
  .pink{
    border: 1px solid #BC0272;
    width: 100%;
  }
  .pink:hover{
   background: #BC0272;
   color: white !important;
  }
  .dark-blue{
    border: 1px solid #2E384D;
  }
  .dark-blue:hover{
      background: #2E384D;
      color: white;
  }
  .light-danger{
    border: 1px solid #FF0404;
  }
  .light-danger:hover{
      background: #FF0404;
      color: white;
  }
  .green{
    border: 1px solid #4BC999;    
  }
  .green:hover{
      background: #4BC999;
      color: white;
  }
  .blue{
    border: 1px solid #34ABE0;
  }
  .blue:hover{
      background: #34ABE0;
  }
  .orange{
    border: 1px solid #FF8A00;
  }
  .orange:hover{
      background: #FF8A00;
  }
  .black{
    border: 1px solid #3E2A2A;
  }
  .black:hover{
      background: #3E2A2A;
  }
  .dark-orange{
    border: 1px solid #B58657;
  }
  .dark-orange:hover{
      background: #B58657;
  }

 