body{
    background: 
    white;
}
.explore-nav{
    padding-top: 30px;
}
.explore-nav-link{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #3E3E3E;    
    opacity: 0.6;
    text-decoration: none;
    padding: 10px 10px;

}
.explore-nav-link:hover{
    color: #F7931E !important;
    text-decoration: none;
}
.explore-nav-link:focus{
    color: #F7931E;
}
.explore-row{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;

}
.explore-images-body{
    -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}
.explore-img{
    vertical-align: middle;
    width: 100%;    
}
.explore-content{
    margin-right: 10px;
    margin-top: 20px;
    color: #3E3E3E;    
}
.explore-content-body{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  
}
.explore-user-detail{
    padding-top: 20px;
}
.explore-user-detail img{
    height: 30px;
    width: 30px;
}
.explore-username{
    padding-left: 15px;
    padding-right: 30px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px; 
}
.follow{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
   background: none;
   outline: none;
   border: none;
    
}
.explore-content-text{
    padding-top: 20px;
    margin-top: 10px;
}
.explore-content-text h5{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
   
    /* identical to box height */

}
.explore-content-text .tag{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;

}
.explore-content-text p{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    margin-top: 10px;
    padding-top: 10px;
}
.user-reaction div{
    padding-right: 20px;
}
@media screen and (max-width: 800px) {
    .explore-images-body {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .explore-images-body {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  .liked{
      background: blue;
      padding: 10px;
  }
  .unLike{
    background:green;
    padding: 10px;
  }
  .explore-content:hover{
      color: white;
  }
.follow:hover{
      color: white;
  }
  .pink{
    border: 1px solid #BC0272;
  }
  .pink:hover{
   background: #BC0272;
   color: white !important;
  }
  .dark-blue{
    border: 1px solid #2E384D;
  }
  .dark-blue:hover{
      background: #2E384D;
      color: white;
  }
  .light-danger{
    border: 1px solid #FF0404;
  }
  .light-danger:hover{
      background: #FF0404;
      color: white;
  }
  .green{
    border: 1px solid #4BC999;    
  }
  .green:hover{
      background: #4BC999;
      color: white;
  }
  .blue{
    border: 1px solid #34ABE0;
  }
  .blue:hover{
      background: #34ABE0;
  }
  .orange{
    border: 1px solid #FF8A00;
  }
  .orange:hover{
      background: #FF8A00;
  }
  .black{
    border: 1px solid #3E2A2A;
  }
  .black:hover{
      background: #3E2A2A;
  }
  .dark-orange{
    border: 1px solid #B58657;
  }
  .dark-orange:hover{
      background: #B58657;
  }

  .fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

  .fa-heart:before {
    content: "\f004"; }
    .fa-comment:before {
        content: "\f075"; }