body {
  font-family: "Montserrat", sans-serif;
}

.mw {
  max-width: 1200px;
  margin: 0 auto;
}

.mwm {
  max-width: 900px;
  margin: 0 auto;
}

.bg-orange {
  background: #fa9b03 !important;
}

.bg-indigo {
  background: #6372c1 !important;
}

.bg-black {
  background: #000000;
}

.text-black {
  color: #000000;
}

.bg-white {
  background: #fff;
}

.text-orange {
  color: #fa9b03 !important;
}

.text-indigo {
  color: #6372c1 !important;
}

.btn.bg-orange:hover {
  transform: scale(0.95);
}

.btn.bg-white:hover {
  transform: scale(0.95);
}

.light-bg {
  background: rgba(255, 255, 255, 0.22);
}

.faint-bg {
  background: #ffffffb8 !important;
}

.m-6 {
  margin: 4em;
}

.mt-6 {
  margin-top: 4em;
}

.mb-6 {
  margin-bottom: 4em;
}

.ml-6 {
  margin-left: 4em;
}

.mr-6 {
  margin-right: 4em;
}

.mx-6 {
  margin-left: 4em;
  margin-right: 4em;
}

.my-6 {
  margin-top: 4em;
  margin-bottom: 4em;
}

/**************************************
                HOMEPAGE
**************************************/
.homepage {
  overflow: hidden;
}

.homepage .focus {
  background: #fa9b03;
  text-decoration: none;
}

.homepage .focus i.fa-check {
  display: inline;
}

.homepage .wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center top;
  position: relative;
  overflow: hidden;
}

.homepage .wrapper .search {
  max-width: 350px;
}

.homepage .wrapper .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.homepage .wrapper .search input:focus {
  border: none;
  box-shadow: none;
}

.homepage .wrapper .search input:focus::-webkit-input-placeholder {
  color: #6c6b6b;
}

.homepage .wrapper .banner {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s 0.3s;
}

.homepage .wrapper .banner.show {
  opacity: 1;
  transform: translateY(0);
}

.homepage .wrapper .banner .discover {
  max-width: 600px;
  position: absolute;
  height: calc(100vh - 88px);
}

.homepage .wrapper .banner .discover h2 {
  font-size: 40px;
  line-height: 48px;
}

.homepage .wrapper .banner .discover p {
  font-size: 20px;
  line-height: 30px;
}

.homepage .wrapper .about {
  height: calc(100vh - 88px);
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s 0.3s;
}

.homepage .wrapper .about.show {
  opacity: 1;
  transform: translateY(0);
}

.homepage .wrapper .about p.explore {
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .homepage .wrapper .about .qrate-svg svg {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 768px) {
  .homepage .wrapper .galleryDiv {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}

.homepage .wrapper .galleryDiv .gallery img {
  width: 100%;
  height: auto;
}

.homepage .wrapper .galleryDiv .gallery i.fa {
  text-shadow: #000 0px 0px 1px;
  font-size: 10px;
  -webkit-font-smoothing: antialised;
}

.homepage .wrapper .galleryDiv .gallery .col-* {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

@media screen and (min-width: 768px) {
  .homepage .wrapper .works {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .homepage .wrapper .works.pb-0 {
    padding-bottom: 0 !important;
  }
}

.homepage .wrapper .works div.cc {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.homepage .wrapper .works .img-reduce-size {
  width: 80%;
  height: auto;
}

.homepage .wrapper .works .img-reduce-size.left {
  margin-left: 20%;
}

.homepage .wrapper.bg-explore-art {
  background: #fa9b03 url("/images/homepage/orange-bg.png");
  background-position: center;
  background-size: cover;
}

.homepage .wrapper .artDesign {
  max-width: 200px;
}

@media screen and (max-width: 767px) {
  .homepage .wrapper .artDesign {
    max-width: 150px;
  }
}

.homepage .wrapper .hh {
  height: calc(100vh - 88px);
}

.homepage .contactInfo input {
  border-bottom: 1px solid #979797 !important;
  background: #ffffffb8 !important;
}

.homepage .contactInfo input.first {
  border-radius: 5px 5px 0 0;
}

.homepage .contactInfo input.last {
  border-radius: 0 0 5px 5px;
}

.homepage .contactInfo input::-webkit-input-placeholder {
  color: #6c6b6b;
}

.homepage .contactInfo input:focus {
  border: none;
  outline: none;
}

.homepage .whatAreYou.discover {
  color: #6c6b6b;
}

.homepage .whatAreYou.discover h4 {
  font-size: 18px;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #979797;
  background: #ffffffb8 !important;
}

.homepage .whatAreYou.discover .what-you-do {
  background: #ffffffb8 !important;
}

.homepage .whatAreYou.discover .what-you-do span {
  font-size: 16px;
  border-bottom: 1px solid #6c6b6b;
}

.homepage .whatAreYou.discover .what-you-do span i.fa-check {
  display: none;
}

.homepage .whatAreYou.discover .what-you-do span:hover {
  background: #fa9b03;
  text-decoration: none;
}

.homepage .whatAreYou.discover .what-you-do span:hover i.fa-check {
  display: inline;
}

.homepage .not-a-robot input {
  width: 25px;
  height: 25px;
}

.homepage .not-a-robot label {
  font-size: 18px;
  margin-left: 1.5em;
}

.homepage .not-a-robot img {
  width: 40px;
}

.homepage .not-a-robot .btn:focus {
  box-shadow: none;
}

.homepage .email-confirmation input.email:focus {
  box-shadow: none;
}

.homepage .wrap {
  position: relative;
}

.homepage .wrap .navigator {
  position: fixed;
  height: 100vh;
  z-index: 99999;
  top: 0;
}

.homepage .wrap .navigator div {
  position: absolute;
}

.homepage .wrap .navigator span {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 3px solid #fff;
}

/**************************************
                HOME
**************************************/
