.artwork-main{
    .modal {
        .modal-main{
            p{
                margin-top: 2rem;
            }

            .catalogue-options{
                margin-top: 2rem;

                .new-catalogue{
                    color: #f7931e;
                }

                .catalogue{
                    margin-top: 1.5rem;
                }

                .new-catalogue:hover,
                .catalogue:hover{
                    cursor: pointer;
                }
                
            }

            .buttons{
                display: flex;
                justify-content: flex-end;
                margin-top: 2rem;

                button:first-child{
                    border: none;
                    margin-right: 1rem;
                    background-color: #ffffff;
                    color: #f7931e;

                    &:hover{
                        border: none;
                    }

                    &.cancel{
                        color: #000000;
                        background-color: transparent;
                        font-weight: bold;
                        border: none;
                        border-width: 1px;
                        padding: 0.5rem 1rem;
                        padding-top: 1.3rem;
                        height: auto;
                        
                        &:hover{
                            color: #000000; 
                        }
                    }
                }

                button:nth-child(2){
                    background-color: #048b04;
                    color: #ffffff;
                    border: none;

                    &:hover{
                        background-color: #048b04;
                        color: #ffffff;
                        border: none;
                    }
                }
            }
        }
    }

    .banner{
       margin-top: 0;
       background: linear-gradient(rgba(101, 101, 101, 0.3), rgba(101, 101, 101, 0.3)), url('/images/artWork-banner.png');
       width: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: bottom left;
       color: #ffffff;
       position: relative;


       .arrow-left{
           color: #ffffff;
           position: absolute;
           top: 25px;
           left: 20px;
       }

        .banner-content{
            display: flex;
            justify-content: space-between;
            padding: 3rem 3rem;
            align-items: center;

            .left{
                .ratings{
                    justify-content: flex-start;

                    .fa-comment, .fa-share, .fa-heart{
                        margin-right: 0.3rem;
                    }
                }

                .inverted{
                    margin-top: 1.5rem;
                }

                .options{
                    margin-top: 1.5rem;
                    display: flex;
                    justify-content: flex-start;

                    i, span{
                        margin-right: 0.9rem;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }

            .right{
                width: 381px;
                background-color: #000000;
                border: 2px solid #656565;
                position: relative;

                .view_button{
                    position: absolute;
                    top: 45%;
                    left: 20%;
                    color: #ffffff;
                    border-color: #ffffff;
                    background-color: transparent;
                    display: none;
                    text-transform: none;
                }

                &:hover{
                    cursor: pointer;
                    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);

                    .view_button{
                        display: block;
                    }

                    img{
                        opacity: 0.7;
                    }
                }

                img{
                    width: 377px;
                    height: 300px;
                }
            }
        }
    }

    .artwork-body{
        padding: 2rem 2rem;

        .description p,
        .frame p,
        .price p {
            color: #000000;
            line-height: 21px;
        }

        .description h5,
        .frame h5,
        .price h5 {
            color: #000000;
            padding: 0.5rem 0;
            border-bottom: 1px solid #212121;
        }

        .view_button{
            margin-top: 1rem;
            text-transform: capitalize;
        }

        .write-comment{
            display: flex;
            align-items: center;
            margin-top: 2rem;

            div{
                padding: 0.5rem 0;
                border-bottom: 1px solid #212121;


                textarea{
                    border: none;
                    height: 20px;
                    // width: 300px;
                    margin-right: 1rem;
                }
            }
        }

        .artist-profile{
            width: 40px;
            height: 40px;
            margin-right: 1rem;
            vertical-align: middle;
        }
    }

}

@media screen and (max-width: 875px) {
    .artwork-main .modal{
        .modal-main .buttons {
            button:nth-child(2) {
                font-size: 0.7rem;
            }
        }
    }
}

@media screen and (max-width: 835px) {
    .artwork-main .banner .banner-content{

        .right{
            width: 240px;

            img{
                width: 236px;
                height: 200px;
            }  
        }
    }
}

@media screen and (max-width: 875px) {
    .artwork-main .modal{
        .modal-main .buttons {
            flex-direction: column;

            button:nth-child(2) {
                font-size: 1rem;
            }
        }
    }
}


@media screen and (max-width: 570px) {
    .artwork-main .banner .banner-content{
        flex-direction: column-reverse;

        .right{
            width: 240px;
            margin-bottom: 2rem;

            img{
                width: 236px;
                height: 200px;
            }  
        }
    }
}

@media screen and (max-width: 490px) {
    .artwork-main .modal{
        .modal-main{
            width: 90%;
        }
    }
}

@media screen and (max-width: 420px) {
    .artwork-main {

        .artwork-body{
            padding: 2rem 0; 
        }
    }
}


