.ex-bg{
  /*  background: url(/public/images/banner.png);*/
  padding-top: 200px;
  padding-bottom: 200px !important; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative !important;
  height: 100%;

}
.filter{
    background: #000000;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;    
}
.filter-text{
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.filter-text h4{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    
    color: #FFFFFF;
}
.filter-text .attend{
    padding-top: 16px;
}
.filter-text  span{
 padding-right: 30px;
 margin-right: 20px;
 font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

/* identical to box height */


color: #FFFFFF;
}
.live{
    padding-top: 20px;
}
.filter-text .button{
    padding-top: 20px;
    display: flex;
  flex-wrap: wrap;
}
.filter-text .button div{
    padding-top: 11px  ;
    padding-right: 40px;
}
.filter-text .watch{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
padding: 11px 30px;
border: 1px solid #F7931E;

color: #F7931E;
}
.filter-text .watch-later{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
   background: #F7931E;
    color: #FFFFFF;
    padding: 11px 40px;
    
}
@media only screen and (max-width: 992px){
  
}
@media only screen and (max-width: 768px){
   .ex-bg{
       background-size: cover;
       height: 600px;
       background-repeat: no-repeat !important;
       background-size: cover !important;
   }
   .filter-text{
       top: 250px;
     

   }
   .filter-text span{
    line-height: 40px;   
   }
   .filter-text .button{
       flex-direction: column !important;
   }
   .filter-text .button div{
       width: 100%;
       padding-right: 0px;
   }
   .filter-text .button button{
       width: 100%;
   }
}