@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
.main {
  font-family: "Ubuntu", sans-serif;
  background: #f8f8f8;
}
.images-g {
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  /* -webkit-animation: animation-loader 1.2s ease-in-out infinite; */
  animation: animation-loader 1.2s ease-in-out infinite;
}
@keyframes animation-loader {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
.pag-images > div {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.overlay-gallery {
  display: none;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 10px;
  cursor: pointer !important;
}
.images-g:hover .overlay-gallery {
  display: block;
}
.gallery-name {
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
}
.gallery-location {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
}
.gallery-location:before {
  content: "\2625";
  margin-right: 8px;
}
.gal-cont {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-item {
  cursor: pointer;
}
