.art-gallery-details {
  background-image: url("/assets/img/artgallery/bg-design.svg"),
    url("/assets/img/artgallery/bg-design2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center top -11px, center bottom 3px;
  .header {
    background: violet no-repeat;
    background-image: url("/assets/img/artgallery/galleryHome.svg");
    border-radius: 10px;
    background-size: cover;
    height: 294px;
    width: 100%;
  }
  .location {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #3e3e3e;
  }
  .gallery-description {
    h5 {
      font-weight: normal;
      font-size: 21px;
      line-height: 24px;
      color: #3e3e3e;
    }
  }
}
.exhibition {
  background: #ffffff;
  .img {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
    width: 319px;

    height: fit-content;
    border-radius: 5px;
  }
  .exhibition-details {
    .exhibition-name {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #3e3e3e;
    }
    .exhibition-date {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;

      color: #3e3e3e;
    }
    .exhibition-detail {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;

      color: #3e3e3e;
    }
  }
  a {
    button {
      background: #f7931e;
      border-radius: 5px;
      padding: 8px 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #ffffff;
      border: 1px solid #f7931e;
      &:hover {
        background: transparent;
        color: #f7931e;
      }
    }
  }
}
.featured-artist {
  min-width: 254px;
  height: 252px;
  display: flex;
  align-items: center;
  background-image: url("/assets/img/cart/cart_image.png");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.589);
  background-blend-mode: overlay;
  background-size: cover;
  margin-right: 16px;
  margin-bottom: 16px;
  &:after {
    background: rgba(0, 0, 0, 0.589);
  }
  .artist-details {
    width: 100%;
    img {
      border-radius: 50%;
      width: 45px;
      height: 45px;
    }
    .artist-author {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      margin-top: 1.2rem;
      margin-bottom: 1.7rem;
      color: #ffffff;
    }
    a {
      button {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        border: 1px solid #f7931e;
        border-radius: 5px;
        background: transparent;
        padding: 8px 15px;
        color: #f7931e;
        &:hover {
          color: #fff;
          background-color: #f7931e;
        }
      }
    }
  }
}
.splide,
.splide__slide {
  max-width: 100% !important;
  position: relative;
}
.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 44.5%;
  transform: translateY(-50%);
  width: 14px;
  height: 200px;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  opacity: 0.4;
  background: #000;
  &:hover {
    opacity: 0.7;
  }
  svg {
    fill: #fff;
  }
}
.splide__arrow--next {
  right: 0;
}
.splide__arrow--prev {
  left: 0;
}
.splide__pagination {
  display: none;
}
.featured-collection {
  width: 326px !important;
  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #3e3e3e;
  }
  .exhibition-details {
    .collection-name {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 0.7rem;
      /* identical to box height */

      color: #3e3e3e;
    }
    .collection-author {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 1.4rem;
      color: #3e3e3e;
    }
    .collection-price {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;

      color: #f7931e;
      &:before {
        content: "$";
      }
    }
    a {
      button {
        background: #f7931e;
        border-radius: 5px;
        color: #fff;
        padding: 8px 17px;
        border: 1px solid #f7931e;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        &:hover {
          background: transparent;
          color: #f7931e;
        }
      }
    }
  }
}
