.ex-bg{
  /*  background: url(/public/images/banner.png);*/
  padding-top: 200px;
  padding-bottom: 200px !important; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative !important;
  height: 100%;

}
.filter{
    background: #000000;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;    
}
.filter-text{
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.filter-text h4{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    
    color: #FFFFFF;
}
.filter-text .attend{
    padding-top: 16px;
}
.filter-text  span{
 padding-right: 30px;
 margin-right: 20px;
 font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

/* identical to box height */


color: #FFFFFF;
}
.live{
    padding-top: 20px;
}
.filter-text .button{
    padding-top: 20px;
    display: flex;
  flex-wrap: wrap;
}
.filter-text .button div{
    padding-top: 11px  ;
    padding-right: 40px;
}
.filter-text .watch{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
padding: 11px 30px;
border: 1px solid #F7931E;

color: #F7931E;
}
.filter-text .watch-later{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
   background: #F7931E;
    color: #FFFFFF;
    padding: 11px 40px;
    
}
.seeAll{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid  #c4c4c4;
}
.seeAll span{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    
    color: #3E3E3E;
}
.seeAll span a{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #3E3E3E;    
}
.upcoming{
    position: relative;  
}
.upcoming-vids{
    padding-left: 30px;
    padding-right: 30px;
}
.upcoming-exhibitions{
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 2px 2px 7px rgba(196, 196, 196, 0.2);
    border-radius: 5px;    
}
.filter-img{
   background: #000000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;       
}
.exhibition-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #3E3E3E;    
}
.upcoming-exhibition-details{
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.exhibition-time{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    
    color: #3E3E3E;    
}
.exhibition-caption{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    padding-top: 20px;
    color: #3E3E3E;  
}
.register-exhibition{
    background: #F7931E;
    border-radius: 5px ;  
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 11px 40px;
}
.recent{
    position: relative;
}
.recent-exhibitions{
    margin-top: 60px !important;
    background: #2E384D;
}
.recent-exhibition-text{
    color: #FFFFFF !important;
    padding-top: 62px;
    padding-left: 43px;
}
.exhibition-tag{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;    
}
.exhibition-name{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-top: 12px;    
    
}
.recent-exhibition-caption{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;    
    line-height: 24px;
}
.recent-img{
    height: 416px;
}
.doc{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    color: #F7931E;
    
}

@media only screen and (max-width: 1200px){
    .recent-img{
        height: 100%;
    }
}

@media only screen and (max-width: 768px){
   .ex-bg{
       background-size: cover;
       height: 600px;
       background-repeat: no-repeat !important;
       background-size: cover !important;
   }
   .filter-text{
       top: 250px;
   }
   .filter-text span{
    line-height: 40px;   
   }
   .filter-text .button{
       flex-direction: column !important;
   }
   .filter-text .button div{
       width: 100%;
       padding-right: 0px;
   }
   .filter-text .button button{
       width: 100%;
   }
   .upcoming-vids{
       padding-left: 0px;
       padding-right: 0px;
   }
   .upcoming-exhibition-details{
       padding-left: 10px;
       padding-right: 10px;
   }
   .recent-exhibition-text{
       padding-left: 10px;
       padding-right: 10px;
       padding-bottom: 40px;
   }
}