.settings {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 90.3vh !important;
  .settings--links {
    border-right: 0.6px solid #c4c4c4;
    .settings-head {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 41px;

      color: #000000;
    }
    .settingsLink.active-link > div {
      color: #f7931e;
      background: rgba(247, 146, 30, 0.2);
    }
    .settingsLink {
      color: #3e3e3e;
      &:hover {
        text-decoration: none;
        color: #f7931e;
      }
      .settings-item {
        // width: 568px;
        height: 65px;
        display: flex;
        background: #fff;
        align-items: center;
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        .arrow-settings {
          position: absolute;
          right: 2rem;
        }
      }
    }
  }
  .settings--account {
    .sub-setting-head {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;

      color: #000000;
    }
    .subSettingsLink.active-link > div {
      background: rgba(247, 146, 30, 0.2);
    }
    .subSettingsLink {
      &:hover {
        text-decoration: none;
        color: #f7931e;
      }
      .settings-account-item {
        // width: 568px;
        height: 65px;
        display: flex;
        background: #fff;
        align-items: center;
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        color: #3e3e3e;
        .arrow-settings {
          position: absolute;
          right: 2rem;
        }
        .account-sub-name {
          font-style: normal;
          font-weight: 300;
          font-size: 19px;
          line-height: 24px;
        }
        .account-username {
          font-weight: 300;
          font-size: 17px;
          line-height: 21px;
          color: #979797;
        }
        .account-password {
          font-weight: 300;
          font-size: 30px;
          line-height: 21px;
          -webkit-text-security: disc;
          color: #979797;
        }
      }
    }
  }
  .settings--notification {
    .sub-setting-head {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;

      color: #000000;
    }
    .subSettingsLink.active-link > div {
      background: rgba(247, 146, 30, 0.2);
    }
    .subSettingsLink {
      &:hover {
        text-decoration: none;
        color: #f7931e;
      }
      .settings-notification-item {
        // width: 568px;
        height: 65px;
        display: flex;
        background: #fff;
        align-items: center;
        position: relative;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 24px;
        color: #3e3e3e;
        a {
          color: #3e3e3e;
          text-decoration: none;
          &:hover {
            color: #f7931e;
          }
        }
      }
    }
  }
  .settings--theme {
    .sub-setting-head {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;
      color: #000000;
    }
    .settings-theme-item {
      padding-bottom: 2rem;
      .right-radio {
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        color: #3e3e3e;
      }
    }
  }
}
